body{
color: #ffffff;
background-image: linear-gradient(#615dad, #ffc8da);
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.celek{
  width: 370px;
  background-color: #283e50;
}
.uvod{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{
  max-width: 100%;;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 20px;
}
p{
  padding: 10px;
  margin: 0;
}

ul{
  padding: 0;
}

li{
  list-style: none;
  padding: 0;
}

a{
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.pravidla{
  background-color: #1fcca4;
  width: 100%;
}
.pravidla:hover{
  background-color: #1cbb96;
}

.hra{
  background-color: #0197f6;
  width: 100%;
}
.hra:hover{
  background-color: #0090e9;
}