html{
  min-height: 100%;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
}
body{
  color: #ffffff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
}

.celek{
  margin: 60px auto;
  width: 350px;
  background-color: #283e50;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

img{
  max-width: 100%;;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

h1{
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}
p{
  padding: 10px;
  margin: 0;
}

.button{
  padding-top: 10px;
}

.button ul{
  padding: 0;
}

.button li{
  list-style: none;
}

.button a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button__pravidla, .button__home{
  background-color: #1fcca4;
  width: 100%;
  border-bottom: 1px solid #283e50;
}
.button__pravidla:hover, .button__home:hover{
  background-color: #1cbb96;
}

.button__game{
  background-color: #0197f6;
  width: 100%;
}
.button__game:hover{
  background-color: #0090e9;
}

.celek--pravidla {
  padding: 10px;
}

.celek--pravidla ol{
  margin-left: 25px;
  margin-right: 35px;
}
.celek--pravidla li{
  text-align: left;
  margin-bottom: 18px;
  padding-left: 10px;
  line-height: 18px;
}

.celek--pravidla .symbol{
  width: 1em;
  height: 1em;
  filter: invert();
}

.celek--pravidla .gallery{
  padding-top: 30px;
}
.celek--pravidla img{
  width: 90%;
  border-radius: 0;
}

