body{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background-image: linear-gradient(#615dad, #ffc8da);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}

.celek{
  width: 350px;
  height: 576px;
  background-color: #283e50;
  margin: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

img{
  max-width: 100%;;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

h1{
  font-family: 'Lobster', cursive;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0;
}
p{
  padding: 10px;
  margin: 0;
}

.tlacitka{
  padding-top: 10px;
}

ul{
  padding: 0px;
}

li{
  list-style: none;
  padding: 0;
}

a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pravidla{
  background-color: #1fcca4;
  width: 100%;
  border-bottom: 1px solid #283e50;
}
.pravidla:hover{
  background-color: #1cbb96;
}

.hra{
  background-color: #0197f6;
  width: 100%;
}
.hra:hover{
  background-color: #0090e9;
}